{% load static %}

<!---ABOUT ME---->
<section class="intro section" id="about">
	<div class="container-fluid" style="width:95%;">
		<div class="row">
			<div class="col-lg-6 pr-lg-5">
				<div class="intro-img">
					<img src="{% static 'assets/images/01.jpg' %}" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="intro-content mt-5 mt-lg-0">
					<h2 class="text-lg mb-4">Building Innovative Applications That Meet Your Needs</h2>

					<p class="mb-4" style="text-align:justify; color:#000;">A proficient Python Django developer possesses a strong grasp of software and web application 
						development, leveraging the Django framework and its associated technologies. I excel in designing, 
						building, and maintaining complex web applications that are scalable, responsive, and user-friendly. 
						Proficient in writing clean and efficient code and automating tasks. 
						
						<br><br>I extend Django applications 
						with custom Python solutions, optimizing performance and enhancing functionality. My skills encompass 
						frontend-backend integration, RESTful APIs, and database management. Additionally, I collaborate 
						effectively with cross-functional teams, conduct thorough testing, and contribute to code reviews to 
						ensure high-quality and maintainable code.</p>
					
					<ul class="list-unstyled ">
						<li><h5><i class="ti-check mr-3"></i>Quality Assurance with Compitative Edge</h5></li>
						<li><h5><i class="ti-check mr-3"></i>Interective Design and Optimize Performanace </h5></li>
						<li><h5><i class="ti-check mr-3"></i>User-Centric Approach, Scalable and Efficience</h5></li>
					</ul>

					<a href="#services" class="btn btn-main mt-4 btn-rounded smoth-scroll">Services<i class="fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>