{% load static %}

<!-- portfolio -->
<section class="section portfolio" id="portfolio">
    <div class="container">
         <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="section-title text-center">
                  <h2 class="mb-4 text-lg">Projects Competence</h2>
                  <p>Omnis est dolores commodi ullam tempora sequi asperiores ipsum autem ex aliquam. Voluptatibus unde</p>
              </div>
          </div>
      </div>
  
        <div class="col-12 text-center  mb-5">
          <div class="btn-group btn-group-toggle " data-toggle="buttons">
            <label class="btn active ">
              <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
            </label>
            <label class="btn ">
              <input type="radio" name="shuffle-filter" value="design" />UI/UX Design
            </label>
            <label class="btn">
              <input type="radio" name="shuffle-filter" value="branding" />BRANDING
            </label>
            <label class="btn">
              <input type="radio" name="shuffle-filter" value="illustration" />ILLUSTRATION
            </label>
          </div>
        </div>
  
      <div class="row shuffle-wrapper portfolio-gallery">
            <div class="col-lg-4 col-md-6 col-12 mb-4 shuffle-item" data-groups="[&quot;design&quot;,&quot;illustration&quot;]">
                <div class="portfolio-item mb-4">
                  <img src="{% static 'assets/images/pc1.jpg' %}" alt="" class="img-fluid">
                  <div class="overlay-content">
                      <h5>Minimal Portfolio Theme</h5>
                      <a href="{% static 'assets/images/pc1.jpg' %}" class="portfolio-image popup-gallery"><i class="ti-zoom-in"></i></a>	
                      <a href="portfolio-single.html"><i class="ti-link"></i></a>	
                  </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 col-12  mb-4 shuffle-item" data-groups="[&quot;branding&quot;]">
              <div class="portfolio-item mb-4">
                  <img src="{% static 'assets/images/pc2.jpg' %}" alt="" class="img-fluid">
                  <div class="overlay-content">
                      <h5>Minimal Portfolio Theme</h5>
                      <a href="{% static 'assets/images/pc2.jpg' %}" class="portfolio-image popup-gallery"><i class="ti-zoom-in"></i></a>	
                      <a href="portfolio-single.html"><i class="ti-link"></i></a>	
                  </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 col-12  mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
                 <div class="portfolio-item mb-4">
                  <img src="{% static 'assets/images/pc3.jpg' %}" alt="" class="img-fluid">
                  <div class="overlay-content">
                      <h5>Minimal Portfolio Theme</h5>
                      <a href="{% static 'assets/images/pc3.jpg' %}" class="portfolio-image popup-gallery"><i class="ti-zoom-in"></i></a>	
                      <a href="portfolio-single.html"><i class="ti-link"></i></a>	
                  </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 col-12  mb-4 shuffle-item" data-groups="[&quot;design&quot;,&quot;branding&quot;]">
              <div class="portfolio-item mb-4">
                  <img src="{% static 'assets/images/pc4.jpg' %}" alt="" class="img-fluid">
                  <div class="overlay-content">
                      <h5>Minimal Portfolio Theme</h5>
                      <a href="{% static 'assets/images/pc4.jpg' %}" class="portfolio-image popup-gallery"><i class="ti-zoom-in"></i></a>	
                      <a href="portfolio-single.html"><i class="ti-link"></i></a>	
                  </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 col-12  mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
                  <div class="portfolio-item mb-4">
                  <img src="{% static 'assets/images/pc5.jpg' %}" alt="" class="img-fluid">
                  <div class="overlay-content">
                      <h5>Minimal Portfolio Theme</h5>
                      <a href="{% static 'assets/images/pc1.jpg' %}" class="portfolio-image popup-gallery"><i class="ti-zoom-in"></i></a>	
                      <a href="portfolio-single.html"><i class="ti-link"></i></a>	
                  </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 col-12  mb-4 shuffle-item" data-groups="[&quot;design&quot;]">
                 <div class="portfolio-item mb-4">
                  <img src="{% static 'assets/images/pc6.jpg' %}" alt="" class="img-fluid">
                  <div class="overlay-content">
                      <h5>Minimal Portfolio Theme</h5>
                      <a href="{% static 'assets/images/pc6.jpg' %}" class="portfolio-image popup-gallery"><i class="ti-zoom-in"></i></a>	
                      <a href="portfolio-single.html"><i class="ti-link"></i></a>	
                  </div>
              </div>
        </div>
      </div>
  
      <div class="row justify-content-center">
          <div class="col-lg-8">
              <div class="text-center mt-5">
                  <a href="#testimonial" class="btn btn-main btn-rounded smoth-scroll">Read Success Story</a>
              </div>
          </div>
      </div>
    </div>
  </section>
  