{% load static %}

<section class="section" id="blog" style="background:#f8f9fa;">
	<div class="container-fluid" style="width:95%;">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="section-title text-center">
					<h2 class="mb-4 text-lg">Latest Blog</h2>
					<p>Hello, and welcome to Alexander cyril Blog! I'm delighted to have you here.
						This is a place where I share stories, insights, and knowledge concerning my skills as a fullstack developer.
						Feel free to dive into my latest posts, explore different categories, and become a part of my growing community.
						Thank you for visiting, and I hope you find my blog enriching and enjoyable.
					</p>
				</div>
			</div>
		</div>

		<div class="row">
		{% for obj in blog %}
			
			<div class="col-lg-4 col-md-6 ">
				<div class="blog-item mb-5 mb-lg-0">
					<a href="{{obj.get_absolute_url}}" >
					<img src="{{obj.image.url}}" alt="" class="img-fluid">
					<div class="content mt-4">
						<span class="timecount"><i class="ti-comments mr-3"></i>2 Comments</span>
						<h4 class="mb-3 mt-2"><a href="{{obj.get_absolute_url}}">{{obj.title}}</a></h4>
						<p>{{obj.overview|safe|truncatechars:110}}</p>

						<a href="{{obj.get_absolute_url}}" class="btn btn-dark">Read More <i class="ti-angle-right"></i></a>
					</div>
				</div>
			</a>
			</div>
			{% endfor %}


			{% comment %} <div class="col-lg-4 col-md-6">
				<div class="blog-item mb-5 mb-lg-0">
					<img src="{% static 'assets/images/blog2.jpg' %}" alt="" class="img-fluid">
					<div class="content mt-4">
						<span class="timecount"><i class="ti-comments mr-3"></i>2 Comments</span>
						<h4 class="mb-3"><a href="blog-single.html">Dating Apps: How To Improve Your Designs </a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corrupti, suscipit minima debitis.</p>

						<a href="blog-single.html" class="read-more">Read More <i class="ti-angle-right"></i></a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="blog-item mb-5 mb-lg-0">
					<img src="{% static 'assets/images/blog3.jpg' %}" alt="" class="img-fluid">
					<div class="content mt-4">
						<span class="timecount"><i class="ti-comments mr-3"></i>2 Comments</span>
						<h4 class="mb-3"><a href="blog-single.html">Meet Inclusive Front-End Design Patterns A New</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corrupti, suscipit minima debitis.</p>

						<a href="blog-single.html" class="read-more">Read More <i class="ti-angle-right"></i></a>
					</div>

                    <br><br>
                    <a href="{% url 'blog' %}" class="btn btn-main btn-rounded">
                    View All Blog<i class="fa fa-angle-right ml-2"></i></a>

				</div>
			</div>
		</div> {% endcomment %}

	</div>
	<br><br>
			<div class="container-fluid col-lg-4 col-md-6 md-5 text-center">
            <a href="{% url 'blog' %}" class="btn btn-main btn-rounded">
            View All Blog<i class="fa fa-angle-right ml-2"></i></a>
			</div>
</section>
