<!----records------>
<section class="counter-wrap section-bottom">
	<div class="container-fluid" style="width:95%;">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="counter-item mb-5 mb-lg-0">
					<i class="ti-user"></i>
					<span class="counter">19</span>
					<h5>Happy Clients</h5>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="counter-item mb-5 mb-lg-0">
					<i class="ti-thumb-up"></i>
					<span class="counter">21</span>
					<h5>project done</h5>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="counter-item mb-5 mb-lg-0">
					<i class="ti-face-smile"></i>
					<span class="counter">11</span>
					<h5>Cup of tea</h5>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="counter-item">
					<i class="ti-cup"></i>
					<span class="counter">3</span>
					<h5>awards won</h5>
				</div>
			</div>
		</div>
	</div>
</section>