<!-- Slider Start -->
<section class="slider" id="slider">
	<div class="container-fluid" style="width:95%;">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-8 col-12">
				<div class="banner-content text-center">
					 <h1 class="cd-headline clip is-full-width mb-4 ">
					 	What I Do: <br>
	                    <span class="cd-words-wrapper text-color">
	                        <b class="is-visible">Develop </b>
	                        <b>Implement</b>
							<b>Design</b>
							<b>Create</b>
                            <b>Build</b>
							<b>Ideas</b>
							<b>Solutions</b>
                            <b>Enhance</b>
							<b>Optimize</b>
							<b>Customize</b>
							<b>Collaborate</b>
                            <b>Integrate</b>
							<b>Maintain</b>
							<b>Test</b>
							<b>Automate</b>
                            <b>Debug</b>
	                    </span>
	                </h1>
					<p class="font-weight-normal lead mt-3 mb-4" style="color:lightgray;">
						Crafting Innovative Web Solutions with Python and Django Expertise.
						Transforming Ideas into Seamless Online Experiences and Innovate Softwares.
						Driving Digital Success through Customized Django Development</p>
					
						<ul class="list-inline socials-icon mb-4">
						{% include 'social_urls.html' %}

						{% comment %} <li class="list-inline-item"><a href="https://twitter.com/alexysancy" target="blank">
							<i class="fab fa-twitter"></i></a></li>

						<li class="list-inline-item"><a href="https://github.com/sancy1" target="blank">
							<i class="fab fa-github"></i></a></li>

						<li class="list-inline-item"><a href="https://www.linkedin.com/in/alexander-cyril-603a2528a/" target="blank">
							<i class="fab fa-linkedin"></i></a></li>

						<li class="list-inline-item"><a href="https://web.facebook.com/profile.php?id=61550933037221" target="blank">
							<i class="fab fa-facebook-f"></i></a></li> {% endcomment %}
					</ul>
					
					<a href="#about" class="btn btn-main btn-rounded smoth-scroll">Learn More <i class="fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>