
<li class="list-inline-item"><a href="https://twitter.com/alexysancy" target="blank">
	<i class="fab fa-twitter"></i></a></li>

	<li class="list-inline-item"><a href="https://github.com/sancy1" target="blank">
		<i class="fab fa-github"></i></a></li>

	<li class="list-inline-item"><a href="https://www.linkedin.com/in/alexander-cyril-603a2528a/" target="blank">
		<i class="fab fa-linkedin"></i></a></li>

	<li class="list-inline-item"><a href="https://web.facebook.com/profile.php?id=61550933037221" target="blank">
		<i class="fab fa-facebook-f"></i></a></li>