

<section class="cta" style="background:#">
	<div class="container-fluid" style="width:95%;">
		<div class="cta-wrap box-shadow">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-8">
					<div class="cta-content">
						<span class="text-color">All in one Solution</span>
						<h2 class="text-lg">Have any Project on <br>mind?</h2>
					</div>
				</div>
				<div class="col-lg-3 ">
					<div class="text-lg-right mt-5 mt-lg-0">
						<a href="{% url 'contact' %}" class="btn btn-main btn-rounded smoth-scroll">Contact me<i class="fa fa-angle-right ml-2"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
