
<!----SPECIALIZATION------>
<section class="section-bottom experience">
	<div class="container-fluid" style="width:95%;">
		<div class="row">
			<div class="col-lg-12">
				<div class="title">
					<h2>Specialized Area</h2>
					{% comment %} <h5><br>Python/Django/Javascript/Bootstrap/Html/Css/PostgreSQL/MySQL</h5> {% endcomment %}


					<div class="container mr-4">
						<div class="btn btn-dark">Python / Django</div>
						<div class="btn btn-dark">Javascript</div>
						<div class="btn btn-dark">Bootstrap</div>
						<div class="btn btn-dark">Html / CSS</div>
						<div class="btn btn-dark">PostgreSQL / MySQL</div>
					</div>

					
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="skill-bar mb-2 mb-lg-0">
					<div class="mb-4 text-right"><h4 class="font-weight-normal">Web Application </h4></div>
					<div class="progress">
						<div class="progress-bar" data-percent="98">
							<span class="percent-text"><span class="count">98</span>%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="skill-bar mb-2 mb-lg-0">
					<div class="mb-4 text-right"><h4 class="font-weight-normal">Front/Backend Integration</h4></div>
					<div class="progress">
						<div class="progress-bar" data-percent="95">
							<span class="percent-text"><span class="count">95</span>%</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6">
				<div class="skill-bar mb-2 mb-lg-0">
					<div class="mb-4 text-right"><h4 class="font-weight-normal">RESTful API Development </h4></div>
					<div class="progress">
						<div class="progress-bar" data-percent="88">
							<span class="percent-text"><span class="count">88</span>%</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6">
				<div class="skill-bar mb-2 mb-lg-0">
					<div class="mb-4 text-right"><h4 class="font-weight-normal">Database Management</h4></div>
					<div class="progress">
						<div class="progress-bar" data-percent="93">
							<span class="percent-text"><span class="count">93</span>%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="skill-bar mb-4 mb-lg-0">
					<div class=" mb-4 text-right"><h4 class="font-weight-normal">Scalability and Performance</h4></div>
					<div class="progress">
						<div class="progress-bar" data-percent="82">
							<span class="percent-text"><span class="count">82</span>%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="skill-bar mb-4 mb-lg-0">
					<div class=" mb-4 text-right"><h4 class="font-weight-normal">Optimization and Refactoring</h4></div>
					<div class="progress">
						<div class="progress-bar" data-percent="80">
							<span class="percent-text"><span class="count">80</span>%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="skill-bar mb-4 mb-lg-0">
					<div class=" mb-4 text-right"><h4 class="font-weight-normal">Quality Assurance & Testing</h4></div>
					<div class="progress">
						<div class="progress-bar" data-percent="81">
							<span class="percent-text"><span class="count">81</span>%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="skill-bar mb-4 mb-lg-0">
					<div class=" mb-4 text-right"><h4 class="font-weight-normal">Cross-Functional Collaboration</h4></div>
					<div class="progress">
						<div class="progress-bar" data-percent="90">
							<span class="percent-text"><span class="count">90</span>%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="skill-bar mb-4 mb-lg-0">
					<div class=" mb-4 text-right"><h4 class="font-weight-normal">Third-Party Integration</h4></div>
					<div class="progress">
						<div class="progress-bar" data-percent="91">
							<span class="percent-text"><span class="count">91</span>%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="skill-bar mb-4 mb-lg-0">
					<div class=" mb-4 text-right"><h4 class="font-weight-normal">User Experience Design</h4></div>
					<div class="progress">
						<div class="progress-bar" data-percent="92">
							<span class="percent-text"><span class="count">92</span>%</span>
						</div>
					</div>
				</div>
				{% comment %} <div class="col-lg-6 col-md-6">
					<div class="skill-bar mb-4 mb-lg-0">
						<div class=" mb-4 text-right"><h4 class="font-weight-normal">Third-Party Integration</h4></div>
						<div class="progress">
							<div class="progress-bar" data-percent="60">
								<span class="percent-text"><span class="count">60</span>%</span>
							</div>
						</div>
					</div>
				</div>
			</div> {% endcomment %}


		</div>
	</div>
</section>
