{% extends 'base.html' %}
{% load static %}
{% load active_link_tags %}

{% block title %}Logout{% endblock title %}
{% block content %}

{% include 'navbar.html' %}

<section class="section" id="slider" style="box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);">
	<div class="container-fluid text-center">
		<div class="row justify-content-center">
			<div class="col-lg-10">

    <div class="card">
        <div class="card-body" style="font-size:19px;">
          <h5 class="card-title" style="font-size:26px;">You have been successfully logged out</h5>

          <p class="card-text">Thank you for dedicating your valuable time. Please feel free to reach out 
            to me via email or phone should you have any inquiries, proposals, feedback, or suggestions.

            <br>&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fa fa-phone" style="color:#FF3D4F;"></i> +234-902-216-2214 &nbsp;|&nbsp;
          <i class="fa fa-envelope-o" style="color:#FF3D4F;"></i> sanchez.alexander.cyril@gmail.com</p>
            <a href="{% url 'login' %}" class="btn btn-primary" style="font-size:18px;">Sign in again</a>
        </div>
      </div>


</div>
</div>
</div>
</section>

    {% include 'footer.html' %}

    {% endblock %}